<header>
  <div class="container">
    <img src="../images/logo.png" id="logo" alt="FrankenKopter Logo">
  </div>
  <nav>
    <ul>
      <li><a data-id="home" href="/">Home</a></li>
      <li><a class="active" data-id="about" href="/about">About</a></li>
      <li><a data-id="contact" href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="about">
    <h1>About Us</h1>
    <p>
      FrankenKopter Performance Engineering (FPE) was founded out of the need for
      a viable/availabe engine overhaul/upgrades to existing Helicopters. The
      evolution of the turbo system began with a retrofit for the existing
      computer/ factory setup and evolved into a comprehensive upgrade to
      computer/engine and addition of the turbo.  This evolution happened out of
      necessity to develop the correct match of all components to perform as
      needed. This comprehensive upgrade addresses issues with the engine, such as
      the leaking of oil in the antifreeze, short engine life and lack of enough
      torque/engine performance to perform at higher altitudes. The addition of
      the computer upgrade and turbo allow for enhanced performance to allow
      flight well beyond the performance capability of stock Rotorway helicopters.
    </p>
    <p>
      As an Airframe and Powerplant mechanic I started my journey of engine
      building in high school building cars and racing friends. After high school
      I attended college, earned a degree in aviation maintenance and technology
      to include a commercial pilots license and Airframe and Powerplant (A &P)
      ratings.  From there I’ve spend 30+ years building performance based engines
      and forced induction systems across multiple arrays of applications from
      tractors to aircraft.
    </p>
    <p>
      The goal of FrankenKopter is to provide the highest quality performance
      enhancements to your helicopter to allow you to fly places not previously
      possible.
    </p>
  </section>
</main>
