<header>
  <div class="container">
      <img src="../images/logo.png" id="logo" alt="FrankenKopter Logo">
  </div>
  <nav class="nav-admin">
    <ul>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
</header>
<main>
  <!-- list all testimonials and actions -->
</main>
