<header>
  <div class="container">
      <img src="../../images/logo.png" id="logo" alt="FrankenKopter Logo">
  </div>
  <nav class="nav-admin">
    <ul>
      <li><a href="/admin">Home</a></li>
      <li><a class="active" href="/admin/emails">Emails</a></li>
      <li><a href="/admin/testimonials">Testimonials</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
</header>
