<header>
  <div class="container">
    <img src="/../images/logo.png" id="logo" alt="FrankenKopter Logo">
  </div>
  <nav class="absolute">
    <ul>
      <li><a class="active" data-id="home" href="/">Home</a></li>
      <li><a data-id="about" href="/about">About</a></li>
      <li><a data-id="contact" href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<main class="home">
  <section id="img_lg">
    <h2>FREAKISH PERFORMANCE UPGRADES</h2>
    <p>for Rotorway Helicopters</p>
  </section>
  <section>
    <p>What we have to offer</p>
    <p>process</p>
    <p>why choose frankenkopter</p>
    <p>benefits</p>
  </section>
  <section class="contact_us">
    <h2>Let's create a performance upgrade plan for you Rotorway!</h2>
    <a href="/contact">GET IN TOUCH</a>
  </section>
  <section class="our_testimonials">
    <div class="quotes">
      <% @testimonials.each do |testimonial| %>
        <ul>
          <li>
            <%= testimonial[:first_name].capitalize %>
            <%= testimonial[:last_name].capitalize %>
          </li>
          <li><%= testimonial[:body] %></li>
        </ul>
      <% end %>
    </div>
  </section>
</main>
<footer>
  <p>include social media links</p>
  <p>&copy; 2019 Josh Simon</p>
</footer>
