<header>
  <div class="container">
    <img src="../images/logo.png" id="logo" alt="FrankenKopter Logo">
  </div>
  <nav>
    <ul>
      <li><a class="active" data-id="home" href="/">Home</a></li>
      <li><a data-id="about" href="/about">About</a></li>
      <li><a data-id="contact" href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<main>
  <figure>
    <img src="https://via.placeholder.com/1250x500" alt="placeholder">
  </figure>
  <h1>Freakish Performance Upgrades for Rotorway Helicopters</h1>
  <ul class="highlights">
    <li>Engine Performace Upgrades (optional dyno-tune)</li>
    <li>Turbo options available</li>
  </ul>
</main>
