<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title><%= @title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/css/master.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  </head>
  <body>
    <div class="flash-message">
      <% if session[:success] %>
        <p class="success"><%= session.delete(:success) %></p>
      <% elsif session[:error] %>
        <p class="error"><%= session.delete(:error) %></p>
      <% end %>
    </div>

    <%== yield %>

    <script>
      var quill = new Quill('#editor', {
        theme: 'snow'
      });
    </script>
  </body>
</html>
