<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title><%= @title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/css/master.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/app.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <nav>
        <img src="../images/logo.jpg" id="logo" alt="FrankenKopter Logo">
        <ul>
          <li><a data-id="home" href="/">Home</a></li>
          <li><a data-id="about" href="/about">About</a></li>
          <li><a data-id="contact" href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>

      <%== yield %>

    </main>
    <script id="home_template" type="text/x-cutom-template">
      <figure>
        <img src="https://via.placeholder.com/1250x500" alt="placeholder">
      </figure>
      <h1>Freakish Performance Upgrades for Rotorway Helicopters</h1>
      <ul class="highlights">
        <li>Engine Performace Upgrades (optional dyno-tune)</li>
        <li>Turbo options available</li>
      </ul>
    </script>

    <script id="about_template" type="text/x-cutom-template">
      <section class="about">
        <h1>About Us</h1>
        <p>
          FrankenKopter Performance Engineering (FPE) was founded out of the need for
          a viable/availabe engine overhaul/upgrades to existing Helicopters. The
          evolution of the turbo system began with a retrofit for the existing
          computer/ factory setup and evolved into a comprehensive upgrade to
          computer/engine and addition of the turbo.  This evolution happened out of
          necessity to develop the correct match of all components to perform as
          needed. This comprehensive upgrade addresses issues with the engine, such as
          the leaking of oil in the antifreeze, short engine life and lack of enough
          torque/engine performance to perform at higher altitudes. The addition of
          the computer upgrade and turbo allow for enhanced performance to allow
          flight well beyond the performance capability of stock Rotorway helicopters.
        </p>
        <p>
          As an Airframe and Powerplant mechanic I started my journey of engine
          building in high school building cars and racing friends. After high school
          I attended college, earned a degree in aviation maintenance and technology
          to include a commercial pilots license and Airframe and Powerplant (A &P)
          ratings.  From there I’ve spend 30+ years building performance based engines
          and forced induction systems across multiple arrays of applications from
          tractors to aircraft.
        </p>
        <p>
          The goal of FrankenKopter is to provide the highest quality performance
          enhancements to your helicopter to allow you to fly places not previously
          possible.
        </p>
      </section>
    </script>

    <script id="contact_template" type="text/x-cutom-template">
      <h1>Send Us A Message</h1>
      <form class="contact" action="/contact" method="post">
        <dl>
          <label>
            <dt>Tell Us Your Name <span>*</span></dt>
            <dd class="names"><input type="text" name="first_name" placeholder="First name"></dd>
            <dd class="names"><input type="text" name="last_name" placeholder="Last name"></dd>
            <dd class="invalid_first">Please provide a first name</dd>
            <dd class="invalid_last">Please provide a last name</dd>
          </label>
          <label>
            <dt>Enter Your Email <span>*</span></dt>
            <dd><input type="email" name="email" placeholder="example@domain.com"></dd>
            <dd class="invalid_email">Please provide a valid email</dd>
          </label>
          <label>
            <dt>Enter Your Phone Number</dt>
            <dd><input type="tel" name="phone_number" placeholder="###-###-####"></dd>
            <dd class="invalid_number">Please Provide a valid phone number</dd>
          </label>
          <label>
            <dt>Message <span>*</span></dt>
            <dd><textarea name="message" rows="8" cols="100" placeholder="Write us a message"></textarea></dd>
            <dd class="invalid_message">Please provide a message</dd>
          </label>
          <input type="submit" name="" value="Submit">
          <p>Items marked with <span>*</span> are required</p>
        </dl>
      </form>
    </script>
  </body>
</html>
