@import url('whitespace-reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  background: linear-gradient(to right, #fefefe, #ffffff);
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}

input {
  text-indent: 5px;
}

input:focus {
  outline: none;
}

textarea {
  border: 1px solid #CECECE;
  border-radius: 4px;
  font-size: 18px;
  resize: none;
  text-indent: 5px;
  width: 100%;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

/* Flash Message */
.flash-message {
  font-size: 16px;
  text-align: center;
}

.flash-message .success {
  background: rgba(141, 207, 14, 0.1);
  border-bottom: 1px solid #8DCF0E;
  border-top: 1px solid #8DCF0E;
  color: #8dcf0e;
  padding: 10px 0;
}

.flash-message .error {
  background: rgba(208, 27, 27, 0.1);
  border-bottom: 1px solid #cf0e0e;
  border-top: 1px solid #cf0e0e;
  color: #cf0e0e;
  padding: 10px 0;
}

/* Nav Bar */
#logo {
  height: 150px;
  left: 10px;
  position: absolute;
  top: 5px;
}

nav {
  height: 50px;
  padding-bottom: 20px;
  padding-top: 50px;
  position: relative;
  text-align: center;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: transparent;
  color: #8DCF0E;
  font-size: 18px;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  background: transparent;
  color: #4d7107;
}

nav a.active {
  border-bottom: 1px solid #8DCF0E;
}

/* Admin Login */
.admin-login {
  border: 1px solid #cecece;
  border-radius: 4px;
  margin: 150px auto 0 auto;
  width: 325px;
}

.admin-login dl {
  margin: 20px 10px 0 10px;
}

.admin-login dt {
  font-size: 20px;
  margin-bottom: 10px;
}

.admin-login dd > input {
  font-size: 16px;
  padding: 12px 0;
  margin-bottom: 10px;
  width: 100%;
}

.admin-login > input {
  background: transparent;
  border: 1px solid #cecece;
  border-radius: 4px;
  font-size: 14px;
  margin: 5px 0 10px 10px;;
  padding: 10px 15px;
}
/* Admin Main */
.nav-admin {
  margin-right: 20px;
  text-align: right;
}

.testimonial {
  border: 1px solid #cecece;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px auto;
  padding: 10px;
  width: 70%;
}

.testimonials {
  margin-top: 100px;
}

.testimonial dt {
  font-size: 19px;
  margin-bottom: 10px;
}

.testimonial dl {
  display: inline-block;
}

/* Overlay and Form */
.overlay-form {
  background: #fff;
  border-radius: 4px;
  display: none;
  left: 25%;
  padding: 10px;
  position: absolute;
  width: 50%;
  z-index: 2;
}

form dl {
  margin-bottom: 15px;
}

form dt {
  font-size: 20px;
  margin-bottom: 5px;
}

form dd {
  font-size: 16px;
}

.third {
  display: inline-block;
  margin-right: 20px;
}

.overlay {
  background: rgba(0,0,0,0.5);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.centered {
  text-align: center;
}

button {
  background: #8dcf0e;
  border-radius: 10px;
  color: #4d7107;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
}

button:hover {
  background: #4d7107;
  color: #fff;
}

button:focus {
  outline: none;
}

.exit, .exit:hover {
  background: url('/images/exit_icon.png') 50% no-repeat;
  background-position: center center;
  border: none;
  border-radius: 0;
  height: 25px;
  float: right;
  width: 25px;
}

.actions {
  margin-top: 30px;
  text-align: center;
}

.delete, .publish, .update {
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
  padding: 15px;
}

.overlay-form .delete {
  background: red;
}

.overlay-form .publish {
  background: #8dcf0e;
}

.overlay-form .update {
  background: #cecece;
}

/* Responsive */
@media screen and (max-width: 900px) {
  #logo {
    display: inline-block;
    height: 100px;
    position: relative;
  }

  .container {
    text-align: center;
  }

  main > figure {
    display: block;
    margin: 20px 20px 0 20px;
    text-align: center;
  }

  nav {
    height: auto;
    margin-top: 25px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  main > figure {
    margin: 20px 0;
  }

  .about {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  .testimonial {
    width: 100%;
  }
}
