@import url('whitespace-reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Universal */
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #fefefe, #ffffff);
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

input {
  text-indent: 5px;
}

input:focus {
  outline: none;
}

textarea {
  border: 1px solid #cecece;
  border-radius: 4px;
  font-size: 18px;
  padding: 5px;
  resize: none;
  width: 100%;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.actions {
  margin-top: 30px;
  text-align: center;
}

.actions a {
  text-decoration: none;
}

.btn {
  background: transparent;
  border: 1px solid #2e4313;
  border-radius: 4px;
  box-sizing: border-box;
  color: #2e4313;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  padding: 15px 0;
  cursor: pointer;
  text-indent: 0;
  width: 75px;
}

.danger {
  border: 1px solid #ff0000;
  color: #ff0000;
}

.btn:hover {
  box-shadow: inset 0 0 1px 1px;
}

.danger:hover {
  background: #ff0000;
  box-shadow: none;
  color: #fff;
}

.btn.flex {
  padding: 15px 10px;
  width: auto;
}

.btn:focus {
  outline: none;
}

/* Flash Message */
.flash-message {
  font-size: 16px;
  text-align: center;
}

.flash-message .success {
  background: rgba(141, 207, 14, 0.1);
  border-bottom: 1px solid #4c7615;
  border-top: 1px solid #4c7615;
  color: #4c7615;
  padding: 10px 0;
}

.flash-message .error {
  background: rgba(208, 27, 27, 0.1);
  border-bottom: 1px solid #cf0e0e;
  border-top: 1px solid #cf0e0e;
  color: #cf0e0e;
  padding: 10px 0;
}

/* Nav Bar */
#logo {
  height: 150px;
  left: 10px;
  position: absolute;
  top: 5px;
}

nav {
  height: 50px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 50px;
  position: relative;
  text-align: right;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: transparent;
  color: #4c7615;
  font-size: 16px;
  margin-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

nav li:nth-last-of-type(2) a {
  margin-right: 50px;
}

nav li:last-of-type a {
  border: 1px solid #4c7615;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px 10px;
}

nav li:last-of-type a:hover {
  border: 1px solid #000;
}

nav a:hover {
  background: transparent;
  color: #000;
}

nav a.active:hover {
  border-bottom: 1px solid #000;
}

nav a.active {
  border-bottom: 1px solid #4c7615;
}

/* Admin Login */
.admin-login {
  border: 1px solid #cecece;
  border-radius: 4px;
  margin: 150px auto 0 auto;
  width: 325px;
}

.admin-login dl {
  margin: 20px 10px 0 10px;
}

.admin-login dt {
  font-size: 20px;
  margin-bottom: 10px;
}

.admin-login dd > input {
  font-size: 16px;
  padding: 12px 0;
  margin-bottom: 10px;
  width: 100%;
}

.admin-login > input {
  background: transparent;
  border: 1px solid #cecece;
  border-radius: 4px;
  font-size: 14px;
  margin: 5px 0 10px 10px;;
  padding: 10px 15px;
}

/* Admin Testimonial and Email */
.testimonial, .email {
  border: 1px solid #cecece;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px auto;
  padding: 10px;
  width: 70%;
}

.testimonial:nth-of-type(2n+1), .email:nth-last-of-type(2n+1) {
  background: #f5f5f5;
}

.testimonials, .emails {
  margin-top: 50px;
}

.testimonial dt, .email dt {
  font-size: 19px;
  margin-bottom: 10px;
}

.testimonial dl, .email dl {
  display: inline-block;
}

/* Overlay and Form */
.overlay-form {
  background: #fff;
  border-radius: 4px;
  display: none;
  left: 25%;
  padding: 10px;
  position: absolute;
  width: 50%;
  z-index: 2;
}

form dl {
  margin-bottom: 15px;
}

form dt {
  font-size: 20px;
  margin-bottom: 5px;
}

form dd {
  font-size: 16px;
}

.third {
  display: inline-block;
  margin-right: 20px;
}

.overlay {
  background: rgba(0,0,0,0.5);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.centered {
  text-align: center;
}

.exit {
  background: url('/images/exit_icon.png') 50% no-repeat;
  background-position: center center;
  cursor: pointer;
  border: none;
  height: 25px;
  float: right;
  width: 25px;
}

/* Popup */
.popup-overlay {
  background: rgba(0,0,0,0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.popup {
  background-color: #fff;
  border-radius: 4px;
  display: none;
  left: 30%;
  padding-top: 20px;
  position: absolute;
  z-index: 4;
  width: 40%;
}

.popup p {
  font-size: 18px;
  text-align: center;
}

.popup p:nth-of-type(2) {
  border-bottom: 2px solid #cecece;
  font-size: 16px;
  margin-top: 6px;
  padding-bottom: 5px;
}

.popup fieldset {
  margin: 25px 0;
  text-align: center;
}

.popup .cancel {
  border-radius: 4px;
  color: #fff;
  width: 75px;
}

/* Edit Testimonial */
.single-testimonial {
  border: 1px solid #cecece;
  border-radius: 4px;
  margin: 100px auto;
  padding: 10px;
  width: 70%;
}

/* Admin Home */
.admin-home {
  margin: 10% auto 0 auto;
  text-align: center;
  width: 75%;
}

.admin-home ul {
  margin: 10px 0 40px 0;
}

.admin-home li {
  font-size: 18px;
  margin-bottom: 5px;
}

.admin-home a {
  color: #4c7615;
  font-weight: 700;
  text-decoration: none;
}

.admin-home a:hover {
  color: #000;
}
/* Admin Emails */

/* Admin Password Reset */
.admin-login.reset {
  margin-top: 50px;
}

/* Responsive */
@media screen and (max-width: 900px) {
  #logo {
    display: inline-block;
    height: 100px;
    position: relative;
  }

  .container {
    text-align: center;
  }

  main > figure {
    display: block;
    margin: 20px 20px 0 20px;
    text-align: center;
  }

  nav {
    height: auto;
    margin-top: 25px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  main > figure {
    margin: 20px 0;
  }

  .about {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  .testimonial {
    width: 100%;
  }
}
