@import url('whitespace-reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Universal */
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #fefefe, #ffffff);
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

input {
  text-indent: 5px;
}

input:focus {
  outline: none;
}

textarea {
  font-size: 18px;
  resize: none;
  text-indent: 5px;
  width: 100%;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

/* Nav Bar */
#logo {
  height: 150px;
  left: 10px;
  position: absolute;
  top: 5px;
}

nav {
  height: 50px;
  padding-bottom: 20px;
  padding-top: 50px;
  position: relative;
  text-align: center;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: transparent;
  color: #8DCF0E;
  font-size: 18px;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

nav li:last-of-type a {
  margin-right: 0;
}

nav a:hover {
  background: transparent;
  color: #4d7107;
}

nav a.active {
  border-bottom: 1px solid #8DCF0E;
}

/* Home Page */
main > figure {
  display: block;
  margin: 20px 50px 0 50px;
  text-align: center;
}

main > figure > img {
  display: inline-block;
  width: 100%;
}

figure + h1 {
  background: transparent;
  color: #3467D7;
}

.highlights {
  background-color: transparent;
  color: #3467D7;
  margin-bottom: 20px;
  text-align: center;
}

.highlights li {
  font-size: 18px;
  margin-top: 10px;
}

/* About Page */
.about {
  background: #ffffff;
  border-radius: 4px;
  margin: 0 auto 50px auto;
  padding: 10px;
  width: 80%;
}

.about p {
  font-size: 18px;
  line-height: 30px;
  text-indent: 20px;
  margin-bottom: 10px;
}

/* Contact Page */
.contact {
  background: #ffffff;
  border: 1px solid #CECECE;
  border-radius: 4px;
  display: block;
  margin: 0 auto 100px auto;
  padding: 0 0 20px 20px;
  width: 70%;
}

.contact dt {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact span {
  font-size: 14px;
  vertical-align: top;
}

.names {
  display: inline-block;
}

.names:first-of-type {
  margin-right: 10px;
}

.contact dd input {
  border-radius: 4px;
  border: 1px solid #cecece;
  height: 35px;
  width: 200px;
}

.contact .names input {
  width: 150px;
}

.contact dl {
  margin: 20px 20px 20px 0;
}

.contact dd {
  margin-bottom: 20px;
}

.contact input {
  font-size: 18px;
}

.contact [type="submit"] {
  border-radius: 5px;
  background-color: #8DCF0E;
  color: #FFF;
  height: 40px;
  width: 100px;
}

.contact p {
  margin-top: 20px;
}

.invalid {
  outline: 1px solid red;
}

.invalid_text, .invalid_first, .invalid_last {
  background-color: transparent;
  display: none;
  color: red;
}

.session_invalid, .session_invalid_first, .session_invalid_last {
  background-color: transparent;
  color: red;
}

/* Responsive */
@media screen and (max-width: 900px) {
  #logo {
    display: inline-block;
    height: 100px;
    position: relative;
  }

  .container {
    text-align: center;
  }

  main > figure {
    display: block;
    margin: 20px 20px 0 20px;
    text-align: center;
  }

  nav {
    height: auto;
    margin-top: 25px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}
