@import url('whitespace-reset.css');
@import url('https://fonts.googleapis.com/css?family=Chivo:400,900');
/* Universal */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Chivo', 'Helvetica', sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: 900;
}

input {
  text-indent: 5px;
}

input:focus {
  outline: none;
}

textarea {
  border: 1px solid #cecece;
  border-radius: 4px;
  font-size: 18px;
  padding: 5px;
  resize: none;
  width: 100%;
}

textarea:focus {
  border: 1px solid #4c7615;
  box-shadow: none;
  outline: none;
}

[type="submit"] {
  border: 2px solid #4c7615;
  border-radius: 5px;
  background-color: #fff;
  color: #4c7615;
  cursor: pointer;
  height: 40px;
  width: 100px;
}

[type="submit"]:hover {
  box-shadow: inset 0 0 1px 1px;
}

footer {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
}

#invalid_recap {
  background: transparent;
  color: red;
  margin-bottom: 20px;
  margin-top: 0;
}

/* Flash Message */
.flash-message {
  font-size: 16px;
  text-align: center;
}

.flash-message .success {
  background: rgba(141, 207, 14, 0.1);
  border-bottom: 1px solid #4c7615;
  border-top: 1px solid #4c7615;
  color: #4c7615;
  padding: 10px 0;
}

.flash-message .error {
  background: rgba(208, 27, 27, 0.1);
  border-bottom: 1px solid #cf0e0e;
  border-top: 1px solid #cf0e0e;
  color: #cf0e0e;
  padding: 10px 0;
}

/* Nav Bar */
#logo {
  height: 150px;
  left: 10px;
  position: absolute;
  top: 5px;
  z-index: 2;
}

nav {
  margin-right: 30px;
  text-align: right;
  padding-bottom: 50px;
  padding-top: 50px;
}

nav.absolute {
  background: transparent;
  color: #85c336;
  left: 0;
  margin-right: 0;
  padding-right: 30px;
  padding-top: 50px;
  position: absolute;
  right: 0;
  z-index: 1;
}

nav.absolute .active {
  border-bottom: 1px solid #85c336
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: transparent;
  color: #85c336;
  font-size: 18px;
  margin-right: 40px;
  text-decoration: none;
}

nav li:last-of-type a {
  margin-right: 0;
}

nav a:hover {
  background: transparent;
  color: #85c336;
}

nav a.active {
  border-bottom: 1px solid #4c7615;
}

/* Home Page */
#img_lg {
  background: no-repeat url("/../images/helicopter.gif") center/100% fixed;
  height: 100vh;
}

#img_lg h2 {
  font-size: 36px;
  letter-spacing: 6px;
}

#img_lg p {
  font-size: 28px;
  letter-spacing: 2px;
}

.home section {
  background-color: #fff;
  color: #000;
}

.home section:first-of-type h2 {
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 28px;
  padding-top: 15%;
}

.home section:first-of-type p {
  background: transparent;
  color: #fff;
  font-family: 'Chivo', sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding-top: 20px;
  text-align: center;
}

.home .our_testimonials {
  background: no-repeat center/100% url('/images/testimonial_3.jpg') fixed;
  height: 350px;
  text-align: center;
}

.our_testimonials ul {
  margin: 0 auto;
  padding-top: 90px;
  width: 60%;
}

.our_testimonials ul li:first-of-type {
  font-size: 20px;
}

.our_testimonials ul li:nth-of-type(2) {
  font-size: 16px;
  line-height: 30px;
}

.quotes {
  background: no-repeat center url('/images/quotes_350.gif');
  height: 100%;
}

.contact_us {
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  height: 300px;
  padding-top: 7%;
  text-align: center;
}

.contact_us a {
  background-color: rgba(36, 60, 131, 0.6);
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 15px;
  text-decoration: none;
}

/* About Page */
.about {
  background: #ffffff;
  color: #000;
  border-radius: 4px;
  margin: 0 auto 50px auto;
  padding: 10px;
  width: 80%;
}

.about p {
  font-size: 18px;
  line-height: 30px;
  text-indent: 20px;
  margin-bottom: 10px;
}

/* Contact Page */
.contact {
  background: #ffffff;
  border: 1px solid #cecece;
  border-radius: 4px;
  color: #000;
  display: block;
  margin: 0 auto 100px auto;
  padding: 0 0 20px 20px;
  width: 70%;
}

.contact dt, .testimonial dt {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact span {
  font-size: 14px;
  vertical-align: top;
}

.names {
  display: inline-block;
}

.names:first-of-type {
  margin-right: 10px;
}

.contact dd input, .testimonial dd input {
  border-radius: 4px;
  border: 1px solid #cecece;
  height: 35px;
  width: 200px;
}

.contact dl {
  margin: 20px 20px 20px 0;
}

.contact input, .testimonial input {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact input:focus, .testimonial input:focus {
  border: 1px solid #4c7615;
}

.contact p, .testimonial p {
  margin-top: 20px;
}

.contact .invalid, .testimonial .invalid {
  border: 1px solid red;
}

.invalid_text, .invalid_first, .invalid_last {
  background-color: transparent;
  display: none;
  color: red;
}

.session_invalid, .session_invalid_first, .session_invalid_last {
  background-color: transparent;
  color: red;
}

/* Testimonial Page */
.testimonial {
  border: 1px solid #cecece;
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px;
  width: 75%;
}

.testimonial dl + input {
  margin-top: 20px;
}

.testimonial dl:last-of-type {
  margin-bottom: 20px;
}

/* Responsive */
@media screen and (max-width: 900px) {
  #logo {
    display: inline-block;
    height: 100px;
    position: relative;
  }

  .container {
    text-align: center;
  }

  main > figure {
    display: block;
    margin: 20px 20px 0 20px;
    text-align: center;
  }

  nav {
    height: auto;
    margin-top: 25px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  main > figure {
    margin: 20px 0;
  }

  .about {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  .testimonial {
    width: 100%;
  }
}
